<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>TR</display-name>

	<servlet>
		<servlet-name>TR</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>
        		org.glassfish.jersey.media.multipart.MultiPartFeature,
        		testrunner.TestRunner,
        		service.ManagementService,
        		service.RunService,
        		service.TRService,
        		service.UserService,
        		service.ScriptService,
        		auth.AuthenticationFilter,
        		helpers.LogFilter,
        		errorhandling.EntityNotFoundMapper,
        		errorhandling.NotAllowedMapper,
        		errorhandling.UncaughtException,
        		errorhandling.UnsupportedMediaTypeMapper
			</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
    
 
	<filter>
		<filter-name>httpHeaderSecurity</filter-name>
		<filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>

	<filter-mapping>
		<filter-name>httpHeaderSecurity</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>TR</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- default to frontend if no other mapping matches -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/frontend/*</url-pattern>
	</servlet-mapping>
</web-app>